version: '3.8'
services:
  web:
    build: 
      context: .
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./projec:/app 
    depends_on:
      - db
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: pi
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: L7062006v.
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: