{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatch — Руководитель</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header class="header">
        <a href="{% url 'leader_home' %}"  class="logo">
            <img src="{% static 'png/logo.png' %}" alt="Logo" class="logo-img">
            <aspan class="logo-text">JobMatch</span>

        <nav class="nav">
            <a href="{% url 'leader_home' %}" class="nav-link active">Главная</a>
            <a href="{% url 'profile_leader' %}" class="nav-link">Профиль</a>
            <a href="{% url "my_jobs" %}" class="nav-link">Мои вакансии</a>
        </nav>

        <button class="logout-btn" onclick="window.location.href='{% url 'logout' %}'">Выйти</button>
        </a>
    </header>

    <main class="main-content">
        <div class="welcome">
            <h1>Здравствуйте, {{ request.session.user_name }}!</h1>
            <p>Здесь вы можете размещать вакансии, просматривать отклики кандидатов и управлять командой.</p>
            <button class="main-btn">Создать вакансию</button>
        </div>
    </main>
</body>
</html>
